{{! All work is our own, no AI tools were used. }}

<div class="homepage" style="text-align: center;">
  <h1>Car City Sales Management System</h1>
  <p class="homepage-text">
    Welcome to Car City Sales Management System. 
    Use this service to enter details about cars, employees, and customers. 
    Also use this service to log repairs and transactions that have happened 
    at the dealership.
  </p>
  <p>Made by Brandon McConathy and Lindsey Clement</p>
</div>
